:root{
  --rouge: #ae2123;
  --bleu: #527bea;
  --grisClair: #ededed;
  --grisFonce: #858585;
  --textRollOver: #999;
  --boutonsRollOver:#BAF1CB;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border-collapse: collapse;
}

#wraper{
  max-width: 1850px;
  min-width: 940px;
  margin: 0 auto;
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
}

.fond-rouge{
  background-color: var(--rouge,);
}

.fond-gris-fonce{
  background-color: var(--grisFonce,);
}

.fond-gris-clair{
  background-color: var(--grisClair,);
}

.entete{
  border: 2px dashed blue ;
  margin: 10px;
}

.contener-logoTitre{

}

.titrePrincipal{

}

.menue-principal{

}
