:root{
  --rouge: #ae2123;
  --bleu: #527bea;
  --blanc: #fff;
  --grisClair: #ededed;
  --grisFonce: #858585;
  --textRollOver: #999;
  --boutonsRollOver:#BAF1CB;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border-collapse: collapse;
}

#wraper{
  max-width: 1850px;
  min-width: 940px;
  margin: 10px auto;
}

/*  ################ CHOI DES COULEURS   ################ */
.fond-rouge{
  background-color: var(--rouge,);
}

.fond-gris-fonce{
  background-color: var(--grisFonce,);
}

.fond-gris-clair{
  background-color: var(--grisClair,);
}

.fond-bleu{
  background-color: var(--bleu,);
}

.texte-blanc{
  color: var(--blanc,);
}

.item:hover{
    color: var(--textRollOver,);
}

.bouton:hover{
  background-color: var(--boutonsRollOver,);
  color: var(--textRollOver,);
}

.en-tete{
  /* border: 2px dashed blue ; */
  /* margin: 10px; */
}

.contener-logoTitre{
  margin: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.titrePrincipal{
  color: var(--bleu,);
  margin: 20px;
  padding: 5px;
}

.menue-principal{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.menue-principal ul{
    display: flex;
}

.item{
  margin: 20px;
  padding: 5px;
}

#recherche{
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
}

.contener-bouton{
  margin: 20px auto;
  text-align: center;
}

.bouton{
  margin: 20px;
  padding: 20px;
  border-radius:30px;
}

.ar{
  width: 100%;
  display: block;
  border: 5px ridge var(--grisClair);
  margin: 5px
}

.titreAR{
  margin: 20px;
  padding: 10px;
  text-align: center;
}


/*  ################ Partie  2 Colone Principale 2/3 1/3  ################  */

.col-X2{
  display: flex;
  flex-direction: row;

}

.colGauche{
  width: 66.66%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.colDroite{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

picture{
  width: 100%;
  display: block;
  /* margin: 20px auto; */
}

picture img{
  display: block;
}

table{
  width: 100%;
}

.PF{
  /* border:6px double red; */
}

.btnRegader{
  margin: 20px;
  padding: 20px;
}

.floutage-transparent{
  background-color: var(--grisClair,0.5);
  /* height: 500px; */
}

/* .floutage-transparent:hover{
  display: block;
}  */

/*  ################ Partie pour le bas de la pages  2 clone 50%  */

.col2neBas{
  display: flex;
  flex-direction: row;
}

.col{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end
}

/* ################ Partie pour le footeur ################ */

.footNav{
  /* border: 4px solid red; */
  display:flex;
  justify-content: space-around;
  align-items: center;
}

 .liste-3col{
   column-count: 3;
   width: 60%;
 }

.liste-3col li{
  display: block;
}
