:root{
  --rouge: #ae2123;
  --bleu: #527bea;
  --blanc: #fff;
  --grisClair: #ededed;
  --grisFonce: #858585;
  --textRollOver: #999;
  --boutonsRollOver:#BAF1CB;
  --grisClairTransparan: #edededab;
}

@font-face {
  font-family: "Chela One";
  src: url("../font/ChelaOne-Regular.ttf")format("truetype");

  font-family: "BenchNine";
  src:url("../font/BenchNine-Regular.ttf")format("truetype");
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border-collapse: collapse;
}

p,h2,h3,td,th,button,input,span,li{
    font-family: "BenchNine","sans-serif";
    font-size: 1.5em;
    line-height: 1.5em;
}

h1{
  font-family: "Chela One";
}

/*  ################ CHOI DES COULEURS   ################ */
.fond-rouge{
  background-color: var(--rouge,);
}

.fond-gris-fonce{
  background-color: var(--grisFonce,);
}

.fond-gris-clair{
  background-color: var(--grisClair,);
}

.fond-bleu{
  background-color: var(--bleu,);
}

.texte-blanc{
  color: var(--blanc,);
}

.texte-rouge{
  color: var(--rouge,);
}

.item:hover{
    color: var(--textRollOver,);
}

.bouton:hover{
  background-color: var(--boutonsRollOver,);
  color: var(--textRollOver,);
}

.Regarder:hover{
    color: var(--textRollOver,);
    background-color: var(--grisClair,);
}

#wraper{
  max-width: 1850px;
  min-width: 940px;
  margin: 1.5em auto;
}

/*  ################ Partie Pour le Heder ################  */
.en-tete{
 margin-bottom: 1.5em;
}

.contener-logoTitre{
  margin: 1.5em;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.titrePrincipal{
  color: var(--bleu,);
  margin: 1.5em;
  padding: 5px;
}

.menue-principal{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.menue-principal ul{
    display: flex;
}

.item{
  margin: 20px;
  padding: 5px;
}

#recherche{
  margin: 20px;
  padding: 5px;
  border: none;
}
/* --------- Fin de Partie ---------- */
/*  ################  les mise en page repetitive  ################ */


.ar{
  display:flex;
  padding: 1.5em;
  border: 6px  outset var(--grisClair);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.titreAR{
  margin: 20px;
  padding: 0px 20px;
  text-align: center;
  display: block;
}

/* --------- Fin de Partie ---------- */
/*  ################ Partie  2 Colone Principale 5/8 3/8  ################  */


main{
  display: grid;
  grid-row-gap: 1.5em;
}

.contener2col{
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 1.5em;
}

.colGauche{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.TlaUne{
  display: grid;
  grid-template-columns:1fr;
  white-space: nowrap;
}

.imagePrinsipale{
display: grid;
grid-column-start: 1;
grid-column-end: 6;
}

.texte{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
}

.contener-bouton{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  justify-items: center;
}

.bouton{
  margin: 20px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
}

.arondi{
  border-radius:50px;
}
/* --------------------------------------------------------------------------- */
.colDroite{
  display: grid;
  grid-template-columns:3fr;
  grid-row-gap: 1.5em;
}

.vcard{
  margin: 20px;
}

.logo{
  width: auto;
  margin: 0px;
}

picture,img,table{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
}


/* gestion du masque de floutage  */

.contener-floutage{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.masque-grisClair{
  background-color: var(--grisClairTransparan,);
  width: 80%;
  height: 80%;
  display: none;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:10%;
}


.contener-floutage:hover{
  .masque-grisClair{
    display: flex;
  }
}
/* Fin gestion du masque de floutage  */

/*  ################ Partie pour le bas de la pages  2 clone 50%  */

.col2neBas{
  display: flex;  /*a modifier pour petite ecrant*/
  flex-direction: row; /*a modifier pour petite ecrant*/
  align-items: flex-end;
  margin-bottom: 1.5em;
}

.col{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end;
  margin:0.75em;
}

/* ################ Partie pour le footeur ################ */

.footNav{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

 .liste-3col{
   column-count: 3;
   width: 60%;
 }

.liste-3col li{
  display: block;
}
